<ion-header>
  <ion-navbar color="myCor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let user of users; let d=index" text-wrap (click)="toggleGroup(d)" [ngClass]="{active1: isGroupShown(d)}">
          <h3>
            {{user.titulo}}
            <ion-icon color="success" item-right [name]="isGroupShown(d) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
          </h3>
          <div *ngIf="isGroupShown(d)">{{user.titulo}} </div>
        
      </ion-item>
  </ion-list>

  <!--ion-card text-wrap inset *ngFor="let user of users;let i = index"-->
  

   <!--p>
     <ion-item>
       <ion-label><a href={{user.link}} >{{user.titulo}}</a></ion-label>
     </ion-item>

     <ion-item>
       <ion-label>{{user.diagnostigo}}</ion-label>
     </ion-item>

   </p-->
  <!-- <ion-item>
     <ion-textarea placeholder="Adicione um comentario" [(ngModel)]="paramComentario[users2[i]]" clearOnEdit="true"></ion-textarea>
   </ion-item>>
   <ion-item>
     <ion-label color="dark" floating>Nota para o tempo de tratamento:</ion-label>
     <ion-input class="texto" type="number" min=0 max=10 [(ngModel)]="paramNotaTempTrat" name="email"></ion-input>
   </ion-item>

   <ion-item>
     <ion-label color="dark" floating>Nota para a eficacia:</ion-label>
     <ion-input class="texto" type="number" min=0 max=10 [(ngModel)]="paramNotaEficacia" name="email"></ion-input>
   </ion-item>

   <button ion-button clear item-end color="myCor" (click)='avaliar(user.codigo,users2[i],1);'>Positivo</button>
   <button ion-button clear item-end color="myCor" (click)='avaliar(user.codigo,users2[i],0);'>Negativo</button>
   <<button ion-button clear item-end color="myCor" (click)='naoAvaliar(users2[i]);'>Não Avaliar</button>-->
   <button ion-button clear item-end color="myCor" (click)='naoAvaliar(users2[i]);'>Não Avaliar</button>>


<!--/ion-card-->
</ion-content>
