page-list {
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
     * {
   overflow-y: hidden !important;
   overflow-x: hidden !important;
}
    .h6 {
    font-weight: normal;
    }
    .teste{
        width: 150%;
        height: 90%;
        margin-left: -10px;
    }



    .p{
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 15.4px;

    }

    .fonte{
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 10px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 15.4px;
        letter-spacing: 0.9px;
        color: black;
        width: 218px;
        height: 150px;
        margin-top: -13px;
        margin-right: 50px;
        position: absolute;
        text-align: left;

    }

    .p1{
        font-size: 12px;
        letter-spacing: -0.1px;
        margin-left: -13.7px;
        color: #fff;
    }
    .p3{
        margin-top: -7px;
        margin-left: -4px;
        color: #fff;
    }
    .verde{
        background: #006E3c;
    }
    .logo{
        width: 150px;
        display: block;
        margin-left: 175px;
        margin-top: 42px;
        position: relative;
        height:auto;
    }

    .botao{
        width: 90px;
        height: 40px;

    }

    .cartao{
        width: 221px;
        height: 150px;

    }

    .borda{
        border-radius: 10px;
    }

    .cartao1{
        width: 75px;
        height: 150px;
        margin-left: 210px;
        margin-top: -13px;
        position: absolute;
        border-radius: 10px;

    }

    .listar{
        width: 90%;

    }

    .social-cards ion-col {
        padding: 0;
  }

}
