page-profile{
  background-repeat: no-repeat;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;

  .logo{
      width: 100px;
      //height: 51px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      height:auto;
  }

  .background{
          background: #006E3c;
          position: relative;
          background-repeat: no-repeat;
          -moz-background-size: 100% 100%;
          -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  }

  * {
   overflow-y: hidden !important;
   overflow-x: hidden !important;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}

}
