page-visualizar {
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
   

    .logo{
        width: 100px;
        //height: 51px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        height:auto;
    }

    .negrito{
        font-weight: bold; 
        text-transform: capitalize;
    }
    .letra{
        text-transform: capitalize;
    }

    .fonte{
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 10px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 15.4px;  
        letter-spacing: 0.9px;
        color: black;
        text-align: justify;
        text-transform: capitalize;
    }

    .avaliacao{
        margin-left: 190px;
    }


    .list a.item{
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;
    }

    .butao{
        //margin-top: -110px;
        margin-left: 100px;
        border: 25px;
        width: 100px;
        height: 80px;
    }

    

}
