<ion-header>
  <ion-navbar color="myCor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>

<ion-card text-wrap inset *ngFor="let user of users">

  <ion-item>
    
    <h2>Marty McFly</h2>
      

        <ion-card class="card-background-page">
          <img src="assets/img/testa.png"/>
          <div class="card-title">{{user.link}}</div>
          <!--div class="card-subtitle">41 Listings</div-->
        </ion-card>
      
  </ion-item>

  <ion-card-content>
    <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>4 Comments</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
  </ion-row>

</ion-card>








  <!--ion-list inset *ngFor="let user of users">

   <p>
     <ion-item>
       <ion-label>Link {{user.link}}</ion-label>
     </ion-item>

     <ion-item>
       <ion-label>Resumo {{user.resumo}}</ion-label>
     </ion-item>

     <ion-item>
       <ion-label>Publicação {{user.anoPublicacao}}</ion-label>
     </ion-item>

     <ion-item>
       <ion-label>Comentarios</ion-label>
     </ion-item>
     <ion-list text-wrap inset *ngFor="let user2 of users2">
       <p>
         <ion-item>
           <ion-label>Usuário:{{user2.userEmail}}</ion-label>
         </ion-item>

         <ion-item>
           <ion-label>{{user2.comentario}}</ion-label>
         </ion-item>
       </p>
     </ion-list>

     <button ion-button clear item-end color="myCor" (click)='selecionar(user.codigo);'>Selecionar</button>
   </p>

</ion-list-->
</ion-content>
